{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>

<body>
    <h1>Hello {{ user.name }}(<a href="{{url_for('update_my_profile')}}">{{ user.username }}</a>)! You are logged in.</h1>
    <h2>Users:</h2>
    <p>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Blocked</th>
{#                    <th>Email</th>#}
                    <th>Admin</th>
                    <th>Save</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for user in all_users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td><input type="text" value="{{ user.name }}" class="name-input" data-user-id="{{ user.id }}"></td>
                        <td><input type="text" value="{{ user.username }}" class="username-input" data-user-id="{{ user.id }}"></td>
                        <td><input type="checkbox" {% if user.blocked %}checked{% endif %} class="blocked-checkbox" data-user-id="{{ user.id }}"></td>
                        <td><input type="checkbox" {% if user.admin %}checked{% endif %} class="admin-checkbox" data-user-id="{{ user.id }}"></td>
                        <td><button class="save-button" data-user-id="{{ user.id }}">Save</button></td>
                        <td><button class="delete-btn" data-user-id="{{ user.id }}">Delete</button></td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>

    <script>
    const saveButtons = document.querySelectorAll('.save-button');
    for (const button of saveButtons) {
        button.addEventListener('click', async () => {
            const userId = button.getAttribute('data-user-id');
            const nameInput = document.querySelector(`.name-input[data-user-id="${userId}"]`);
            const usernameInput = document.querySelector(`.username-input[data-user-id="${userId}"]`);
            const blockedCheckbox = document.querySelector(`.blocked-checkbox[data-user-id="${userId}"]`);
            const adminCheckbox = document.querySelector(`.admin-checkbox[data-user-id="${userId}"]`);

            const new_name = nameInput.value;
            const new_username = usernameInput.value;
            const blocked = blockedCheckbox.checked ? 1 : 0;
            const admin = adminCheckbox.checked ? 1 : 0;

            const response = await fetch('/update_user', {
                method: 'POST',
                body: new URLSearchParams({
                    user_id: userId,
                    new_name: new_name,
                    new_username: new_username,
                    blocked: blocked,
                    admin: admin
                }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
            });

            const result = await response.json();

            if (result.result === 'success') {
                alert('User data for {{ user.name }}({{ user.username }}) successfully updated');
            } else {
                alert('Error updating user data: ' + result.message);
            }
        });
    }
</script>
<script>
    document.querySelectorAll('.delete-btn').forEach(function(btn) {
        btn.addEventListener('click', function(e) {
            var user_id = e.target.getAttribute('data-user-id');
            if (confirm('Are you sure you want to delete this user?')) {
                fetch('/delete_user', {
                    method: 'POST',
                    body: JSON.stringify({
                        'user_id': user_id
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function(response) {
                    return response.json();
                }).then(function(data) {
                    if (data.result === 'success') {
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                });
            }
        });
    });
</script>

    <p><a href="{{url_for('new_user')}}">New User</a></p>
    <p><a href="{{url_for('dashboard')}}">Dashboard</a></p>
    <p><a href="{{url_for('logout')}}">Logout</a></p>
</body>

</html>

{% endblock %}
    