<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>

<body>
    <h1>Add New User</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.name }}
        {{ form.password }}
        {{ form.admin }} Admin
        {{ form.blocked }} Blocked
        {{ form.submit }}
    </form>

    <a href="{{ url_for('admin') }}">Back to Admin Panel</a>
</body>

</html>
