{% extends "base.html" %}

{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>

<body>
    <h1>Add New User</h1>

    <form method="POST" action="">
        <p>
        {{ form.hidden_tag() }}

        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
        {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br>
{#        {% for error in form.username.errors %}#}
{#            <small class="form-text text-danger">{{ error }}</small>#}
{#        {% endfor %}<br>#}

        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}

        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}<br>
        </p>
        <p>
            {{ form.admin }} Admin<br>
            {% for error in form.admin.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}

            {{ form.blocked }} Blocked<br>
            {% for error in form.blocked.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </p>
        <br>
        <p>{{ form.submit }}</p>
    </form>

    <a href="{{ url_for('admin') }}">Back to Admin Panel</a>
</body>

</html>

{% endblock %}