{% extends "base.html" %}

{% block content %}
<body>
    <h1>Add New User</h1>

    <form method="POST" action="">
        <p>
        {{ form.hidden_tag() }}

        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
        {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br>

        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}

        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}<br>
        </p>
        <p>
            {{ form.admin }} Admin<br>
            {% for error in form.admin.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}

            {{ form.blocked }} Blocked<br>
            {% for error in form.blocked.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </p>
        <br>
        <p>{{ form.submit }}</p>
    </form>

    <a href="{{ url_for('admin') }}">Back to Admin Panel</a>

{% endblock %}